.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 0px;
  max-width: 300px;
  border: 2px solid #999;
  box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #666;
}

.score {
    
}

.tile {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 2px solid #999;
  background-color: #ccc;
  font-family: "Courier New", monospace;
  font-weight: bold;
  user-select: none;
  box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #666;
}

